$bfpe-blue: rgba(23, 100, 179, 1.0);
$bfpe-orange: rgba(255, 78, 37, 1.0);
$bfpe-orange-dirty: #D46D12;

$black: rgba(0, 0, 0, 1);
$black-08: rgba(0, 0, 0, 0.8);
$black-06: rgba(0, 0, 0, 0.6);
$black-044: rgba(0, 0, 0, 0.44);
$black-005: rgba(0, 0, 0, 0.05);

$white: rgba(255, 255, 255, 1.0);
$white-08: rgba(255, 255, 255, 0.8);
$white-06: rgba(255, 255, 255, 0.6);
$white-044: rgba(255, 255, 255, 0.44);
$white-005: rgba(255, 255, 255, 0.05);